.payment ul li
{
    display: inline-block;
    padding:13% 8% 13% 8%;
    margin: 2.5%;
    background:#f2f2f2;
    border-radius: 10px;
    box-shadow: 0 1px 1px #000;
    font-size: 25px;
    cursor: pointer;
    transition: box-shadow 0.3s ,padding 0.3s;
    text-shadow: 0 1px 0 #000;
}

.payment ul li:hover
{
    box-shadow: 0 2px 10px #000;
    padding: 13% 9% 13% 9%;
}
    .payment ul li.paypal
    {
        background: #009cde;
        background: -webkit- linear-gradient(#009cde,#003087);
        background: linear-gradient(#009cde,#003087);
        font-size: 35px;
        color: #f2f2f2;
    }
    .payment ul li.bitcoin
    {
        background: #ffa500;
        background-position: center;
        font-size: 35px;
        color: #f2f2f2;
    }
